.header{
    background-color: deeppink;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.description{
    background-color: mediumpurple;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between
}

.games{
    background-color: powderblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly 
}

.footer{
    display: flex;
    justify-content: flex-end;
}